<!doctype html>

<html>
<style>
  form {
    margin: auto;
    width: 35%;
  }

.result {
  margin: auto;
  width: 35%;
  border: 1px solid #ccc;
}

</style>

<head>

<title>HDB Resale Prediction Model</title>

</head>

<body>
<center>
<h1>
HDB Resale Price Prediction Model
</h1>

<p>
  This is a HDB valuation estimate. Select the relevant physical traits below from the dropdown lists and range sliders based on the HDB resale flat's features which you are considering.
  <br>
  <br>
  Using the traits selected, the model will predict a price estimate based on the past 10-year HDB resale price transactions it has learnt.
  <br>
  <br>
  This is only meant to be a pricing guideline.
  <br>
  <br>
  Please do your own due diligence and research before making a house purchase decision.
</p>
</center>
</body>

<form action="{{ url_for('main') }}" method="POST">
    <fieldset>
        <legend>Input values:</legend>
        Town:
        <select name="town">
          <option value='ANG MO KIO' selected>Ang Mo Kio </option>
          <option value='BEDOK'>Bedok </option>
          <option value='BUKIT BATOK'>Bukit Batok </option>
          <option value='BUKIT MERAH'>Bukit Merah </option>
          <option value='BUKIT PANJANG'>Bukit Panjang </option>
          <option value='BUKIT TIMAH'>Bukit Timah </option>
          <option value='CENTRAL AREA'>Central Area </option>
          <option value='CHOA CHU KANG'>Choa Chu Kang </option>
          <option value='CLEMENTI'>Clementi </option>
          <option value='GEYLANG'>Geylang </option>
          <option value='HOUGANG'>Hougang </option>
          <option value='JURONG EAST'>Jurong East </option>
          <option value='JURONG WEST'>Jurong West </option>
          <option value='KALLANG/WHAMPOA'>Kallang/Whampoa </option>
          <option value='MARINE PARADE'>Marine Parade </option>
          <option value='PASIR RIS'>Pasir Ris </option>
          <option value='PUNGGOL'>Punggol </option>
          <option value='QUEENSTOWN'>Queenstown </option>
          <option value='SEMBAWANG'>Sembawang </option>
          <option value='SENGKANG'>Sengkang </option>
          <option value='SERANGOON'>Serangoon </option>
          <option value='TAMPINES'>Tampines </option>
          <option value='TOA PAYOH'>Toa Payoh </option>
          <option value='WOODLANDS'>Woodlands </option>
          <option value='YISHUN'>Yishun </option>
        </select>
        <br>
        <br> Flat Type:
        <select name="flat_type">
          <option value='1 ROOM' selected>1 Room </option>
          <option value='2 ROOM'>2 Room </option>
          <option value='3 ROOM'>3 Room </option>
          <option value='4 ROOM'>4 Room </option>
          <option value='5 ROOM'>5 Room </option>
          <option value='EXECUTIVE'>Executive </option>
          <option value='MULTI-GENERATION'>Multi-Generation </option>
        </select>
        <br>
        <br> Flat Model:
        <select name="flat_model">
          <option value='Improved' selected>Improved </option>
          <option value='New Generation'>New Generation </option>
          <option value='DBSS'>DBSS </option>
          <option value='Standard'>Standard </option>
          <option value='Apartment'>Apartment </option>
          <option value='Simplified'>Simplified </option>
          <option value='Model A'>Model A </option>
          <option value='Premium Apartment'>Premium Apartment </option>
          <option value='Adjoined flat'>Adjoined flat </option>
          <option value='Model A-Maisonette'>Model A-Maisonette </option>
          <option value='Maisonette'>Maisonette </option>
          <option value='Type S1'>Type S1 </option>
          <option value='Type S2'>Type S2 </option>
          <option value='Model A2'>Model A2 </option>
          <option value='Improved-Maisonette'>Improved-Maisonette </option>
          <option value='Premium Maisonette'>Premium Maisonette </option>
          <option value='Multi Generation'>Multi Generation </option>
          <option value='Premium Apartment Loft'>Premium Apartment Loft </option>
          <option value='2-room'>2-room </option>
        </select>
        <br>
        <br> Area: <p><span id="area"></span> sqf</p>
        <input name="floor_area_sqf" type="range" min="500" max="2500" step="100" id="areaRange" required>

        <script>
        var slider = document.getElementById("areaRange");
        var output = document.getElementById("area");
        output.innerHTML = slider.value;

        slider.oninput = function() {
          output.innerHTML = this.value;
        }
        </script>
        <br>
        <br> Age: <p><span id="age"></span> years</p>
        <input name="age" type="range" min="1" max="90" id="ageRange" required>

        <script>
        var ageslider = document.getElementById("ageRange");
        var ageoutput = document.getElementById("age");
        ageoutput.innerHTML = ageslider.value;

        ageslider.oninput = function() {
          ageoutput.innerHTML = this.value;
        }
        </script>
        <br>
        <br>
        <br> Nearest MRT Distance: <p><span id="mrt"></span> km</p>
        <input name="nearest_mrt_station_dist" type="range" min="0" max="3" step="0.01" id="mrtRange" required>

        <script>
        var mrtslider = document.getElementById("mrtRange");
        var mrtoutput = document.getElementById("mrt");
        mrtoutput.innerHTML = mrtslider.value;

        mrtslider.oninput = function() {
          mrtoutput.innerHTML = this.value;
        }
        </script>

        <br>
        <br> Nearest Primary School Distance: <p><span id="pri"></span> km</p>
        <input name="nearest_primary_school_dist" type="range" min="0" max="3" step="0.01" id="priRange" required>

        <script>
        var prislider = document.getElementById("priRange");
        var prioutput = document.getElementById("pri");
        prioutput.innerHTML = prislider.value;

        prislider.oninput = function() {
          prioutput.innerHTML = this.value;
        }
        </script>

        <br>
        <br> Nearest Secondary School Distance: <p><span id="sec"></span> km</p>
        <input name="nearest_secondary_school_dist" type="range" min="0" max="3" step="0.01" id="secRange" required>

        <script>
        var secslider = document.getElementById("secRange");
        var secoutput = document.getElementById("sec");
        secoutput.innerHTML = secslider.value;

        secslider.oninput = function() {
          secoutput.innerHTML = this.value;
        }
        </script>

        <br>
        <br> Nearest Mall: <p><span id="mall"></span> km</p>
        <input name="nearest_mall_dist" type="range" min="0" max="3" step="0.01" id="mallRange" required>

        <script>
        var mallslider = document.getElementById("mallRange");
        var malloutput = document.getElementById("mall");
        malloutput.innerHTML = mallslider.value;

        mallslider.oninput = function() {
          malloutput.innerHTML = this.value;
        }
        </script>

        <br>
        <br> CBD Distance: <p><span id="cbd"></span> km</p>
        <input name="dist_cbd" type="range" min="0" max="20" step="0.1" id="cbdRange" required>

        <script>
        var cbdslider = document.getElementById("cbdRange");
        var cbdoutput = document.getElementById("cbd");
        cbdoutput.innerHTML = cbdslider.value;

        cbdslider.oninput = function() {
          cbdoutput.innerHTML = this.value;
        }
        </script>

        <br>
        <br> Floor Number: : <p><span id="floor"></span> floor</p>
        <input name="avg_storey" type="range" min="0" max="50" id="floorRange" required>

        <script>
        var floorslider = document.getElementById("floorRange");
        var flooroutput = document.getElementById("floor");
        flooroutput.innerHTML = floorslider.value;

        floorslider.oninput = function() {
          flooroutput.innerHTML = this.value;
        }
        </script>
        <br>
        <br>
        <input type="submit">
    </fieldset>
</form>
<br>
<div class="result" align="center">
    {% if result %}
    	{% for variable, value in original_input.items() %}
    		<b>{{ variable }}</b> : {{ value }}
    	{% endfor %}
		<br>
    	<br> Predicted HDB Resale Price:
   		<p style="font-size:50px">S${{ result }}</p>
    {% endif %}
</div>

</html>
